<template>
	<div class="header__container">
		<Breadcrumb />
		<Info> Tran Phong </Info>
	</div>
</template>

<script setup>
import Breadcrumb from "../Breadcrumb/index.vue";
import Info from "../Info/index.vue";
</script>

<style scoped>
.header__container {
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px;
	justify-content: space-between;
	background-color: #fff;
	border: 1px solid #ccc;
}
</style>