<template>
    <paginate v-model="page" :page-count="pageCount" :page-range="pageRange" :margin-pages="2"
        :click-handler="clickCallback" :prev-text="'Prev'" :next-text="'Next'" :containerClass="'customPaginate'">
    </paginate>
</template>

<script setup>
import Paginate from "vuejs-paginate-next";
import { ref } from 'vue'
const emits = defineEmits(['clickCallback'])
const props = defineProps({
    currentPage: {
        type: Number,
        required: true
    },
    pageCount: {
        type: Number,
        required: true
    },
    pageRange: {
        type: Number,
        required: false,
        default: 2
    },
})
const page = computed(() => props.currentPage)

const clickCallback = (index) => {
    emits('clickCallback',index)
}

</script>


<style scoped>
.customPaginate {
    display: flex;
    gap: 4px;
    align-items: center;
}

:deep .page-item {
    cursor: pointer;
    color: #293857;
    text-align: center;
    border-radius: 4px;
    color: #000;
}

:deep .page-item a {
    padding: 5px !important;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
:deep .page-item.active {
    background-color: #293857;
    color: #fff;
    border-radius: 4px;
}

:deep .page-item.disabled {
    color: #c8ccd3;
    cursor: not-allowed;
    border-radius: 4px;
}
</style>