<template>
	<div class="sidebar__container">
		<div class="logo">
			<img src="../../assets/images/logo.png" class="img-responsive" alt="This is logo" />
		</div>
		<div class="navigate">
			<NuxtLink class="navigate__item" v-for="(tab, index) in navigateItems" :key="index" :to="tab.to"
				:class="{ 'navigate__item--active': tab.to === route.path }">
				{{ tab.title }}
			</NuxtLink>
		</div>
		<div class="version">
			<p>Version: 1.0</p>
		</div>
	</div>
</template>

<script setup>
import { ref } from "vue";
import { useRoute } from "vue-router";
const route = useRoute();
const navigateItems = ref([
	{
		id: 1,
		title: "Hồ sơ khám",
		to: "/files",
	},
	{
		id: 2,
		title: "Cơ sở khám",
		to: "/maps",
	},
]);
</script>

<style scoped>
.sidebar__container {
	width: 150px;
	height: 100vh;
	background: #000;
	display: flex;
	flex-direction: column;
	position: relative;
}

.logo {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.navigate {
	display: flex;
	flex-direction: column;
}

.navigate__item {
	padding: 15px;
	color: #fff;
	border-bottom: 4px solid transparent;
	border-color: #1c1c1c;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
}

.navigate__item:hover,
.navigate__item--active {
	background-color: #1c1c1c !important;
}

.version {
	position: absolute;
	color: #fff;
	font-size: 12px;
	bottom: 10px;
	right: 10px;
}

.icon-responsive {
	display: none;
}

.img-responsive {
	width: 100px;
	display: block;
}

@media screen and (max-width: 768px) {
	.sidebar__container {
		display: none;
	}
}
</style>