<template>
	<div class="info-wrapper">
		<div class="info-container">
			<slot></slot>
			<div class="custom-icon">
				<i class="fa-regular fa-user fa-2xs" style="color: #ffffff"></i>
			</div>
		</div>
		<div class="dropdown-wrapper">
			<i @click="isShowDropdown = !isShowDropdown" class="fa-solid fa-caret-down cursor-pointer"></i>
			<div v-if="isShowDropdown" :key="itemIndex" class="table-action">
				<NuxtLink class="action-option" v-for="(nav, index) in navigateItems" :to="nav.to" :key="index"
					@click="isShowDropdown = false">
					<i v-if="!index" class="fa-solid fa-file"></i>
					<i v-else class="fa-solid fa-map"></i>
					<p>{{ nav.title }}</p>
				</NuxtLink>
			</div>
		</div>

	</div>
</template>

<script setup>
import { ref } from 'vue'
const navigateItems = ref([
	{
		id: 1,
		title: "Hồ sơ khám",
		to: "/files",
	},
	{
		id: 2,
		title: "Cơ sở khám",
		to: "/maps",
	},
]);
const isShowDropdown = ref(false)
</script>

<style scoped>
.info-container {
	padding: 0.5rem;
	background-color: #f7f8fa;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-direction: row;
	border-radius: 20px;
	font-size: 14px;
	cursor: default;
}

.custom-icon {
	width: 20px;
	height: 20px;
	background-color: #d3dce6;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.info-wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 10px;
}

.cursor-pointer {
	cursor: pointer;
}

.dropdown-wrapper {
	position: relative;
	display: none;
}

.table-action {
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	width: 100px;
	font-size: 12px;
	position: absolute;
	top: 20px;
	right: 0;
	border-radius: 4px;
	padding: 3px;
	z-index: 999999;
}

.action-option {
	text-decoration: none;
	color: #000;
	text-align: center;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #fff;
	border-bottom: 1px solid #dadee8;
	cursor: pointer;
}

.action-option:hover {
	opacity: 0.8;
}

@media screen and (max-width: 768px) {
	.dropdown-wrapper {
		display: block;
	}
}
</style>