<template>
	<div class="input-wrapper">
		<label v-if="label" class="input-label">
			{{ label }}
			<p v-if="props.isRequired" style="color: red">*</p>
		</label>
		<input class="custom-input" :placeholder="placeholderContent" :type="type" :value="inputData" @input="onInput"
			@change="onChange" />
	</div>
</template>

<script setup>
const emits = defineEmits(["update:inputData"]);
const props = defineProps({
	label: {
		type: String,
		required: false,
	},
	inputData: {
		type: String,
		required: true,
	},
	type: {
		type: String,
		required: true,
	},
	isRequired: {
		type: Boolean,
		required: false,
	},
	placeholderContent: {
		type: String,
		required: false,
	}
});

const onInput = (event) => {
	// Can add validation here
	emits("update:inputData", event.target.value);
};
</script>

<style scoped>
.custom-input {
	display: block;
	text-align: left;
	padding: 5px 8px;
	border-radius: 4px;
	background-color: transparent;
	appearance: none;
	height: 30px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: 400;
	border: 1px solid rgba(0, 0, 0, 0.23);
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input-label {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width: 640px) {
	.custom-input {
		height: 20px;
	}
}
</style>