<template>
	<transition name="modal">
		<div class="modal-mask">
			<div class="modal-wrapper">
				<div class="modal-container">
					<div class="modal-header">
						<slot name="header">
							<div class="header-content">
								<p>Thông báo</p>
								<div class="custom-icon" @click.native="$emit('handleReject')">
									<i class="fa-solid fa-xmark" style="color: #ffffff"></i>
								</div>
							</div>
						</slot>
					</div>

					<div class="modal-body">
						<slot name="body"> Bạn có chắc muốn xoá hồ sơ này!</slot>
					</div>

					<div class="modal-footer">
						<slot name="footer">
							<ButtonCustom @click.native="$emit('handleConfirm')" :btnType="'primary'">
								Xác nhận
							</ButtonCustom>
							<ButtonCustom @click.native="$emit('handleReject')" :btnType="'warn'">
								Huỷ
							</ButtonCustom>
						</slot>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script setup>
import ButtonCustom from "../Button/index.vue";
defineEmits(["handleConfirm", "handleReject"]);
</script>

<style scoped>
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	transition: opacity 0.3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 350px;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
	font-weight: bold;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	gap: 16px;
}

.modal-body {
	margin: 20px 0;
	font-size: 14px;
}

.modal-default-button {
	float: right;
}

.header-content {
	display: flex;
	justify-content: space-between;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.custom-icon {
	width: 24px;
	height: 24px;
	background-color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.custom-icon:hover {
	cursor: pointer;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
	.modal-container {
		width: 270px
	}
}
</style>