<template>
	<button :disabled="isDisabled" :class="{
		'btn-disabled': isDisabled,
		'primary-btn': btnType === 'primary',
		'warn-btn': btnType === 'warn',
	}">
		<slot> </slot>
	</button>
</template>

<script setup lang="ts">
const props = defineProps({
	btnType: {
		type: String,
	},
	isDisabled: {
		type: Boolean
	}
});
</script>

<style scoped>
.primary-btn {
	border: none;
	background-color: #ee922f;
	padding: 0.5rem 1rem;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	width: fit-content;
}

.primary-btn:hover,
.warn-btn:hover {
	text-decoration: none;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.warn-btn {
	border: none;
	background-color: #fceeef;
	padding: 0.5rem 1rem;
	color: #e2625f;
	font-weight: bold;
	cursor: pointer;
	width: fit-content;
}

.btn-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
</style>