<template>
    <div class="container">
        <table class="table-wrapper">
            <thead>
                <tr class="table__label">
                    <td v-for="(label, labelIndex) in labels" :key="labelIndex">
                        {{ label.text }}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr @dblclick="handleClickOnRow(item, itemIndex)" class="table__row bg-white row-relative"
                    v-for="(item, itemIndex) in dataTable" :key="itemIndex">
                    <td class="" v-for="(label, labelIndex) in labels" :key="labelIndex">
                        <div class="truncate"
                            v-if="label.field !== 'file' && label.field !== 'action' && label.field !== 'dob'">
                            {{ item[label.field] }}
                        </div>
                        <div class="custom-file" v-if="label.field === 'file'">
                            <p>SĐT: {{ item[label.field].phoneNumber }}</p>
                            <p>Tên: {{ item[label.field].userName }}</p>
                            <p>Giới tính: {{ item[label.field].gender }}</p>
                        </div>
                        <div class="custom-file" v-if="label.field === 'count'">
                            {{ countNumber(itemIndex) }}
                        </div>
                        <div class="custom-file" v-if="label.field === 'dob'">
                            {{ dayjs(item[label.field]).format('DD MMM YYYY') }}
                        </div>
                        <div @click="handleOpenAction(item)" class="cursor-pointer" v-if="label.field === 'action'">
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                    </td>
                    <div v-if="item.action" :key="itemIndex" class="table-action">
                        <div class="action-option" @click="handleUpdateFile(item, itemIndex)">Sửa hồ sơ</div>
                        <div class="action-option" @click="handleConfirmDelete(item, itemIndex)">Xoá hồ sơ</div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-footer">
        <div>
            Tổng số: {{ filterTable.length }}
        </div>
        <Pagination :pageCount="pageCount" :currentPage="currentPage" @clickCallback="clickCallback" />
    </div>

</template>

<script setup>
import { ref } from "vue"
import Pagination from '../../components/Pagination/index.vue'
import { useFileStore } from "../../stores/files";
import { labels } from '../../constants/enums'
import dayjs from 'dayjs'

const emits = defineEmits(['handleClickOnRow', 'handleDeleteFile', 'refreshAction', 'toggleAction'])
const props = defineProps({
    searchUserName: {
        type: String,
        required: false,
    },
    searchPhoneNumber: {
        type: String,
        required: false,
    },
})

const fileStore = useFileStore()
const tableData = ref(fileStore.tableData)
const currentPage = ref(1);
const skipItem = ref(4);

const filterTable = computed(() => {
    return tableData.value.filter(item => {
        return (!props.searchPhoneNumber || item.file.phoneNumber.toLowerCase().includes(props.searchPhoneNumber.toLowerCase()))
            && (!props.searchUserName || item.file.userName.toLowerCase().includes(props.searchUserName.toLowerCase()))
    })
});

const pageCount = computed(() => Math.ceil(filterTable.value.length / 4));

const dataTable = computed(() => filterTable.value.slice((currentPage.value - 1) * skipItem.value, currentPage.value * skipItem.value))

const handleOpenAction = (item) => {
    item.action = !item.action
    tableData.value.forEach(el => {
        if (el.id !== item.id) {
            el.action = false
        }
    })
}

const handleClickOnRow = (item, index) => {
    emits('handleClickOnRow', item, index)
}

const handleUpdateFile = (item, itemIndex) => {
    handleClickOnRow(item, itemIndex)
    item.action = false
}

const handleConfirmDelete = (item, index) => {
    emits('handleDeleteFile', index)
    item.action = false
}

const clickCallback = (page) => {
    currentPage.value = page
}

const countNumber = (itemIndex) => {
    return itemIndex + currentPage.value * skipItem.value - skipItem.value + 1
}
</script>

<style scoped>
.w-50 {
    width: 50px;
}

.row-relative {
    position: relative;
}

.table-action {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    width: 100px;
    position: absolute;
    top: 0;
    right: 70px;
    padding: 3px;
    z-index: 999999;
}

.action-option {
    text-align: center;
    padding: 0.5rem;
    background-color: #fff;
    border-bottom: 1px solid #dadee8;
    cursor: pointer;
}

.action-option:hover {
    opacity: 0.8;
}

.table-footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 14px;
}

.container {
    overflow-x: scroll;
}

.table-wrapper {
    width: 100%;
}

thead {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #dadee8 !important;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table__label,
.table__row {
    font-size: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #dadee8;
    border-top: none;
}

.table__row:hover {
    cursor: pointer;
}

.bg-white {
    background-color: #fff;
}

td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

tr {
    text-align: left;
}

.custom-file {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

td:first-child,
td:nth-child(7) {
    width: 5%;
}

td:nth-child(2) {
    width: 20%;
}

td:nth-child(3) {
    width: 15%;
}

td:nth-child(4) {
    width: 25%;
}

td:nth-child(5),
td:nth-child(6) {
    width: 15%;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .table-footer {
        flex-direction: column;
        gap: 15px;
    }

    .table-wrapper {
        width: 730px
    }

}
</style>