<template>
	<div class="breadcrumb-container">{{ route.path === '/files' ? 'Hồ sơ khám' : 'Cơ sở khám' }}</div>
</template>

<script setup>
import { ref } from "vue";
import { useRoute } from "vue-router";
const route = useRoute();
</script>

<style lang="scss" scoped>
.breadcrumb-container {
	font-size: 14px;
}
</style>