<template>
	<div class="input-wrapper">
		<label class="input-label">
			{{ label }}
			<p v-if="isRequired" style="color: red">*</p>
		</label>
		<select :id="label" @change="myFunction($event)" :value="value" class="custom-input" :name="label">
			<option v-for="(item, index) in listValue" :key="index" :value="item.value">
				{{ item.title }}
			</option>
		</select>
	</div>
</template>

<script setup>
const emits = defineEmits(["handleChangeValue"]);
const props = defineProps({
	label: {
		type: String,
		required: true,
	},
	value: {
		type: String,
		required: true,
	},
	isRequired: {
		type: Boolean,
		required: false,
	},
	listValue: {
		type: Array,
		required: true,
	},
});
const myFunction = (selectObject) => {
	emits("handleChangeValue", props.label, selectObject.target.value);
};
</script>

<style scoped>
.custom-input {
	display: block;
	text-align: left;
	padding: 5px 8px;
	border-radius: 4px;
	background-color: transparent;
	appearance: none;
	height: 42px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: 400;
	border: 1px solid rgba(0, 0, 0, 0.23);
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input-label {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

@media screen and (max-width: 640px) {
	.custom-input {
		height: 32px;
	}
}
</style>