<template>
	<transition name="modal">
		<div class="modal-mask">
			<div class="modal-wrapper">
				<div class="modal-container">
					<div class="modal-header">
						<slot name="header">
							<div class="header-content">
								<p class="content-name">{{ formValue.id ? 'Cập nhật hồ sơ' : 'Tạo mới hồ sơ' }}</p>
							</div>
						</slot>
					</div>
					<div class="modal-body">
						<InputCustom :label="'Số điện thoại'" :type="'number'"
							v-model:input-data="formValue.file.phoneNumber" :isRequired="true" />
						<InputCustom :label="'Họ và tên'" :type="'text'" v-model:input-data="formValue.file.userName"
							:isRequired="true" />
						<div class="custom-group">
							<Autocomplete :label="'Giới tính'" :value="formValue.file.gender" :isRequired="true"
								@handleChangeValue="handleChangeValue" :listValue="listGender" class="w-50" />
							<Autocomplete :label="'Nhóm máu'" :value="formValue.file.bloodGroup" :listValue="listBlood"
								@handleChangeValue="handleChangeValue" class="w-50" />
						</div>
						<div class="custom-group">
							<InputCustom :label="'Ngày sinh'" :type="'date'" v-model:input-data="formValue.dob"
								:isRequired="true" class="w-50" />
							<Autocomplete :label="'Quốc gia'" :value="formValue.file.nation" :listValue="listNations"
								@handleChangeValue="handleChangeValue" class="w-50" />
						</div>
						<InputCustom :label="'Email'" :type="'text'" v-model:input-data="formValue.file.email" />
						<InputCustom :label="'Địa chỉ'" :type="'text'" v-model:input-data="formValue.address"
							:isRequired="true" />
					</div>

					<div class="modal-footer">
						<slot name="footer">
							<ButtonCustom :isDisabled="checkDisabled" @click="handleSubmit" :btnType="'primary'">
								Hoàn thành
							</ButtonCustom>
							<ButtonCustom @click="$emit('handleCloseForm')" :btnType="'warn'">
								Huỷ
							</ButtonCustom>
						</slot>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script setup lang='ts'>
import { ref } from "vue";
import InputCustom from "../Input/index.vue";
import ButtonCustom from "../Button/index.vue";
import { useFileStore } from '../../stores/files'
import Autocomplete from "../Autocomplete/index.vue";
import { listBlood, listGender, listNations } from "../../constants/enums";

const emits = defineEmits(["handleCreate", "handleCloseForm"]);

const filesStore = useFileStore()
const formValue = ref(filesStore.currentFile);

const checkDisabled = computed(() => {
	if (!formValue.value.file.userName || !formValue.value.file.userName || !formValue.value.file.gender || formValue.value.file.gender === 'default' || !formValue.value.dob || !formValue.value.address) return true
	else return false
})

const handleChangeValue = (field: string, value: string) => {
	switch (field) {
		case "Giới tính":
			formValue.value.file.gender = value;
			break;
		case "Nhóm máu":
			formValue.value.file.bloodGroup = value;
			break;
		case "Quốc gia":
			formValue.value.file.nation = value;
			break;
	}
};

const handleSubmit = () => {
	if (formValue.value.id) {
		filesStore.tableData[filesStore.currentIndex] = { ...formValue.value, action: false }
	} else {
		const newFile = {
			id: Math.random(),
			file: {
				phoneNumber: formValue.value.file.phoneNumber,
				userName: formValue.value.file.userName,
				gender: formValue.value.file.gender,
				email: formValue.value.file.email,
				bloodGroup: formValue.value.file.bloodGroup,
				nation: formValue.value.file.nation
			},
			dob: formValue.value.dob,
			address: formValue.value.address,
			mainFile: formValue.value.mainFile || 'File',
			notify: formValue.value.notify || 'Green',
			action: false
		}
		filesStore.addNewData(newFile)
	}
	emits('handleCloseForm')
}
</script>

<style scoped>
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	transition: opacity 0.3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 450px;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
	font-weight: bold;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	gap: 16px;
}

.modal-body {
	margin: 20px 0;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal-default-button {
	float: right;
}

.header-content {
	display: flex;
	justify-content: space-between;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.custom-icon {
	width: 24px;
	height: 24px;
	background-color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.custom-icon:hover {
	cursor: pointer;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.content-name {
	padding: 0.5rem;
	border-bottom: 1px solid red;
	color: orange;
}

.custom-group {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.w-50 {
	width: 50%;
}

@media screen and (max-width: 768px) {
	.modal-container {
		width: 300px
	}

	.custom-group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.w-50 {
		width: 100%;
	}

	.modal-body {
		gap: 0.5rem;
	}
}
</style>