<template>

	<div class="layout__container">
		<SideBar />
		<div class="content">
			<Header />
			<clientOnly>
				<slot />
			</clientOnly>
			<div class="footer">Copy right @ Trần Văn Phong</div>
		</div>
	</div>
</template>

<script setup>
import SideBar from "../components/SideBar/index.vue";
import Header from "../components/Header/index.vue";
import { useRouter } from "vue-router";
</script>

<style scoped>
.layout__container {
	display: flex;
}

.content {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.footer {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.content {
		height: 100vh;
	}
}
</style>