<template>
	<NuxtPage> </NuxtPage>
</template>

<script setup>
import { useRouter } from "vue-router";
import { ROUTER } from "../constants/path";
const router = useRouter();
router.push(ROUTER.Files);
</script>

<style lang="scss" scoped></style>