<template>
  <div class="file-wrapper">
    <GoogleMap class="full-map" api-key="AIzaSyBBzIMMHbagOrWs1QxsbEN4brEGLP3aDqY" style="width: 100%; height: 500px"
      :center="positions[1]" :zoom="15">
      <Marker v-for="(position, index ) in positions" :key="index" :options="{ position: position }">
        <InfoWindow>
          <div id="content">
            <div id="siteNotice"></div>
            <h1 id="firstHeading" class="firstHeading">{{ customInfoWindows[index].name }}</h1>
            <div id="bodyContent">
              <p>{{ customInfoWindows[index].address }}</p>
            </div>
          </div>
        </InfoWindow>
      </Marker>
    </GoogleMap>
  </div>
</template>
<script setup lang="ts">
import { ref } from "vue";
import { GoogleMap, Marker, InfoWindow } from 'vue3-google-map'

definePageMeta({
  layout: "auth",
});

const positions = ref([
  { lat: 20.992703, lng: 105.871728 },
  { lat: 21.006923, lng: 105.853956 },
  { lat: 21.006813, lng: 105.86079 }
])
const customInfoWindows = ref([
  {
    name: 'G2 - Sunshine Garden',
    address: 'Ngõ 34 Minh Khai - Hai Bà Trưng - Hà Nội'
  },
  {
    name: 'Hồ Quỳnh',
    address: 'Võ Thị Sáu - Hai Bà Trưng - Hà Nội'
  }, {
    name: '',
    address: 'Ngõ 84 Phố Kim Ngưu - Hai Bà Trưng - Hà Nội'
  }])
</script>

<style>
.full-map {
  height: 700px !important;
}

.file-wrapper {
  padding: 20px;
  background-color: #f7f8fa;
  height: 100%;
}
</style>