<template>
	<div class="file-wrapper">
		<div class="action-wrapper">
			<div class="search-section">
				<InputCustom :type="'number'" v-model:input-data="searchPhoneNumber"
					:placeholderContent="'Nhập SĐT để tìm kiếm'" />
				<InputCustom :type="'text'" v-model:input-data="searchUserName"
					:placeholderContent="'Nhập tên để tìm kiếm'" />
			</div>
			<ButtonCustom :is-disabled="false" @click="toggleForm('new', '')" :btnType="'primary'">
				<div class="custom-button">
					<i class="fa-solid fa-plus"></i>
					<p>
						Thêm hồ sơ mới
					</p>
				</div>
			</ButtonCustom>
		</div>
		<CustomTable :searchPhoneNumber="searchPhoneNumber" :searchUserName="searchUserName"
			@handleClickOnRow="handleClickOnRow" @handleDeleteFile="handleDeleteFile" />
	</div>
	<CreateForm v-if="isShowCreateForm" @handleCreate="toggleForm" @handleCloseForm="toggleForm"
		@handleDeleteFile="handleDeleteFile" />
	<DialogAlert v-if="isShowDialog" @handleConfirm="handleConfirmDelete" @handleReject="toggleModal" />

</template>

<script setup lang="ts">
import { ref } from "vue";
import DialogAlert from "../../components/Dialog/index.vue";
import CreateForm from "../../components/FormDialog/index.vue";
import CustomTable from "../../components/Table/index.vue"
import ButtonCustom from '../../components/Button/index.vue'
import InputCustom from '../../components/Input/index.vue'
import { useFileStore, type ICurrentFile } from "../../stores/files";
import { tableData } from "~/constants/enums";

definePageMeta({
	layout: "auth",
});

const fileStore = useFileStore()

const isShowDialog = ref(false);
const isShowCreateForm = ref(false);
const searchPhoneNumber = ref('')
const searchUserName = ref('')

const handleSaveDataToLocal = () => {
	const dataFromLocal = JSON.parse(localStorage.getItem('tableData') || '[]')

	if (dataFromLocal.length) {
		fileStore.setTableData(dataFromLocal)
	} else {
		fileStore.setTableData(tableData)
		localStorage.setItem('tableData', JSON.stringify(tableData))
	}
}
handleSaveDataToLocal()

const toggleModal = (index: number) => {
	isShowDialog.value = !isShowDialog.value;
};

const toggleForm = (type: string, item: any) => {
	if (type === 'new') {
		fileStore.setCurrentFile({
			id: 0,
			file: {
				phoneNumber: '',
				userName: '',
				gender: '',
				nation: '',
				email: '',
				bloodGroup: ''
			},
			dob: '',
			address: '',
			mainFile: '',
			notify: '',
			action: false
		})
	}
	isShowCreateForm.value = !isShowCreateForm.value
}

const handleClickOnRow = (item: ICurrentFile, index: number) => {
	isShowCreateForm.value = true;
	let value = JSON.parse(JSON.stringify(item))
	fileStore.setCurrentFile(value)
	fileStore.setCurrentIndex(index)
}

const handleDeleteFile = (index: number) => {
	fileStore.setCurrentIndex(index)
	isShowDialog.value = true
}

const handleConfirmDelete = () => {
	isShowDialog.value = false
	fileStore.tableData.splice(fileStore.currentIndex, 1)
	localStorage.setItem('tableData', JSON.stringify(tableData))
}

</script>

<style scoped>
.file-wrapper {
	padding: 20px;
	height: 100%;
	background-color: #f7f8fa;
	border: 1px solid #ccc;
	border-top: none;
}

.action-wrapper {
	justify-content: space-between;
	margin-bottom: 20px;
}

.search-section {
	gap: 15px;
}

.custom-button,
.action-wrapper,
.search-section {
	display: flex;
	flex-direction: row;
}

.custom-button {
	gap: 0.5rem;
}

@media screen and (max-width: 640px) {

	.action-wrapper,
	.search-section {
		flex-direction: column;
		gap: 15px;
	}
}
</style>